@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>
        <a href="/media-file/logos-for-white-backgrounds.zip">logos-for-white-backgrounds.zip</a>
        <br />
        <code>&lt;a href="/media-file/logos-for-white-backgrounds.zip"&gt;logos-for-white-backgrounds.zip&lt;/a&gt;</code>
    </p>
    <p>
        <video src="/media-file/Umbraco The Friendly CMS.mp4" controls></video>
        <br />
        <code>&lt;video src="/media-file/Umbraco The Friendly CMS.mp4" controls&gt;&lt;/video&gt;</code>
    </p>
    <p>
        <img src="/media-file/umbraco_logo_blue1.png" />
        <br />
        <code>&lt;img src="/media-file/umbraco_logo_blue1.png" /&gt;</code>
    </p>
    <p>
        <img src="/media-file/imagesharp-logo.png?width=100" />
        <br />
        <code>&lt;img src="/media-file/imagesharp-logo.png?width=100" /&gt;</code>
    </p>
</div>
