@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    <p>
        <img src="/media-file/imagesharp-logo.png" />
        <br />
        <code>/media-file/imagesharp-logo.png</code>
    </p>
    <p>
        <img src="/media-file/imagesharp-logo.png?width=100" />
        <br />
        <code>/media-file/imagesharp-logo.png?width=100</code>
    </p>
</div>
